<div class="row justify-content-center">
  <div class="col-7">
    <div class="header align-items-center mt-5">
      <div class="photo">
        <div class="user-border-wrap">
          <div class="user"></div>
        </div>
      </div>
      <div class="accountInfo">
        <div class="account">Sean920120</div>
        <div class="subtitle">
          <div class="col-3">65貼文</div>
          <div class="col-3">211位粉絲</div>
          <div class="col-3">541追蹤中</div>
        </div>
        <div class="text">
          「我想當一隻狐獴，我希望人類都跟狐獴一樣。」
          即使狐獴和不同物種養在一起， 他也會去嘗試去擁抱對方。
          合作邀約歡迎私訊（演出、插畫、教學）
        </div>
      </div>
    </div>
    <!-- <div class="main">
        <div class="wrapper">
          <div class="left-col">
            <div class="status-wrapper">
              <div class="status-card">
                <div class="profile-pic">
                  <img src="img/cover 1.png" alt="" />
                </div>
                <p class="username">user_name_1</p>
              </div>
              <div class="status-card">
                <div class="profile-pic">
                  <img src="img/cover 2.png" alt="" />
                </div>
                <p class="username">user_name_2</p>
              </div>
              <div class="status-card">
                <div class="profile-pic">
                  <img src="img/cover 3.png" alt="" />
                </div>
                <p class="username">user_name_3</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <div class="posts mt-5">
      <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
        <mat-tab label="貼文">
          <main class="mt-2" style="overflow-y: hidden">
            <div class="container">
              <div class="gallery">
                <div class="gallery-item" tabindex="0">
                  <img
                    src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop"
                    class="gallery-image"
                    alt=""
                  />

                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes">
                        <span class="visually-hidden">Likes:</span
                        ><i class="fas fa-heart" aria-hidden="true"></i> 56
                      </li>
                      <li class="gallery-item-comments">
                        <span class="visually-hidden">Comments:</span
                        ><i class="fas fa-comment" aria-hidden="true"></i> 2
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="gallery-item" tabindex="0">
                  <img
                    src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop"
                    class="gallery-image"
                    alt=""
                  />

                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes">
                        <span class="visually-hidden">Likes:</span
                        ><i class="fas fa-heart" aria-hidden="true"></i> 89
                      </li>
                      <li class="gallery-item-comments">
                        <span class="visually-hidden">Comments:</span
                        ><i class="fas fa-comment" aria-hidden="true"></i> 5
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="gallery-item" tabindex="0">
                  <img
                    src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?w=500&h=500&fit=crop"
                    class="gallery-image"
                    alt=""
                  />

                  <div class="gallery-item-type">
                    <span class="visually-hidden">Gallery</span
                    ><i class="fas fa-clone" aria-hidden="true"></i>
                  </div>

                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes">
                        <span class="visually-hidden">Likes:</span
                        ><i class="fas fa-heart" aria-hidden="true"></i> 42
                      </li>
                      <li class="gallery-item-comments">
                        <span class="visually-hidden">Comments:</span
                        ><i class="fas fa-comment" aria-hidden="true"></i> 1
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="gallery-item" tabindex="0">
                  <img
                    src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop"
                    class="gallery-image"
                    alt=""
                  />

                  <div class="gallery-item-type">
                    <span class="visually-hidden">Video</span
                    ><i class="fas fa-video" aria-hidden="true"></i>
                  </div>

                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes">
                        <span class="visually-hidden">Likes:</span
                        ><i class="fas fa-heart" aria-hidden="true"></i> 38
                      </li>
                      <li class="gallery-item-comments">
                        <span class="visually-hidden">Comments:</span
                        ><i class="fas fa-comment" aria-hidden="true"></i> 0
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="gallery-item" tabindex="0">
                  <img
                    src="https://images.unsplash.com/photo-1498471731312-b6d2b8280c61?w=500&h=500&fit=crop"
                    class="gallery-image"
                    alt=""
                  />

                  <div class="gallery-item-type">
                    <span class="visually-hidden">Gallery</span
                    ><i class="fas fa-clone" aria-hidden="true"></i>
                  </div>

                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes">
                        <span class="visually-hidden">Likes:</span
                        ><i class="fas fa-heart" aria-hidden="true"></i> 47
                      </li>
                      <li class="gallery-item-comments">
                        <span class="visually-hidden">Comments:</span
                        ><i class="fas fa-comment" aria-hidden="true"></i> 1
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="gallery-item" tabindex="0">
                  <img
                    src="https://images.unsplash.com/photo-1515023115689-589c33041d3c?w=500&h=500&fit=crop"
                    class="gallery-image"
                    alt=""
                  />

                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes">
                        <span class="visually-hidden">Likes:</span
                        ><i class="fas fa-heart" aria-hidden="true"></i> 94
                      </li>
                      <li class="gallery-item-comments">
                        <span class="visually-hidden">Comments:</span
                        ><i class="fas fa-comment" aria-hidden="true"></i> 3
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="gallery-item" tabindex="0">
                  <img
                    src="https://images.unsplash.com/photo-1504214208698-ea1916a2195a?w=500&h=500&fit=crop"
                    class="gallery-image"
                    alt=""
                  />

                  <div class="gallery-item-type">
                    <span class="visually-hidden">Gallery</span
                    ><i class="fas fa-clone" aria-hidden="true"></i>
                  </div>

                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes">
                        <span class="visually-hidden">Likes:</span
                        ><i class="fas fa-heart" aria-hidden="true"></i> 52
                      </li>
                      <li class="gallery-item-comments">
                        <span class="visually-hidden">Comments:</span
                        ><i class="fas fa-comment" aria-hidden="true"></i> 4
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="gallery-item" tabindex="0">
                  <img
                    src="https://images.unsplash.com/photo-1515814472071-4d632dbc5d4a?w=500&h=500&fit=crop"
                    class="gallery-image"
                    alt=""
                  />

                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes">
                        <span class="visually-hidden">Likes:</span
                        ><i class="fas fa-heart" aria-hidden="true"></i> 66
                      </li>
                      <li class="gallery-item-comments">
                        <span class="visually-hidden">Comments:</span
                        ><i class="fas fa-comment" aria-hidden="true"></i> 2
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="gallery-item" tabindex="0">
                  <img
                    src="https://images.unsplash.com/photo-1511407397940-d57f68e81203?w=500&h=500&fit=crop"
                    class="gallery-image"
                    alt=""
                  />

                  <div class="gallery-item-type">
                    <span class="visually-hidden">Gallery</span
                    ><i class="fas fa-clone" aria-hidden="true"></i>
                  </div>

                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes">
                        <span class="visually-hidden">Likes:</span
                        ><i class="fas fa-heart" aria-hidden="true"></i> 45
                      </li>
                      <li class="gallery-item-comments">
                        <span class="visually-hidden">Comments:</span
                        ><i class="fas fa-comment" aria-hidden="true"></i> 0
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="gallery-item" tabindex="0">
                  <img
                    src="https://images.unsplash.com/photo-1518481612222-68bbe828ecd1?w=500&h=500&fit=crop"
                    class="gallery-image"
                    alt=""
                  />

                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes">
                        <span class="visually-hidden">Likes:</span
                        ><i class="fas fa-heart" aria-hidden="true"></i> 34
                      </li>
                      <li class="gallery-item-comments">
                        <span class="visually-hidden">Comments:</span
                        ><i class="fas fa-comment" aria-hidden="true"></i> 1
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="gallery-item" tabindex="0">
                  <img
                    src="https://images.unsplash.com/photo-1505058707965-09a4469a87e4?w=500&h=500&fit=crop"
                    class="gallery-image"
                    alt=""
                  />

                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes">
                        <span class="visually-hidden">Likes:</span
                        ><i class="fas fa-heart" aria-hidden="true"></i> 41
                      </li>
                      <li class="gallery-item-comments">
                        <span class="visually-hidden">Comments:</span
                        ><i class="fas fa-comment" aria-hidden="true"></i> 0
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="gallery-item" tabindex="0">
                  <img
                    src="https://images.unsplash.com/photo-1423012373122-fff0a5d28cc9?w=500&h=500&fit=crop"
                    class="gallery-image"
                    alt=""
                  />

                  <div class="gallery-item-type">
                    <span class="visually-hidden">Video</span
                    ><i class="fas fa-video" aria-hidden="true"></i>
                  </div>

                  <div class="gallery-item-info">
                    <ul>
                      <li class="gallery-item-likes">
                        <span class="visually-hidden">Likes:</span
                        ><i class="fas fa-heart" aria-hidden="true"></i> 30
                      </li>
                      <li class="gallery-item-comments">
                        <span class="visually-hidden">Comments:</span
                        ><i class="fas fa-comment" aria-hidden="true"></i> 2
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- End of gallery -->

              <!-- <div class="loader"></div> -->
            </div>
            <!-- End of container -->
          </main>
        </mat-tab>
        <mat-tab label="REELS">Content 2</mat-tab>
        <mat-tab label="已標註">Content 3</mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
