.header{
  display: flex;
  height: 150px;
  width: 100%;
    >.photo{
      width:150px;
      padding:0;
      text-align: center;
      margin-left: 20px;
      >.user-border-wrap {
        max-width: 150px;
        padding: 5rem;
        position: relative;
        border-radius: 100px;
        background:
          linear-gradient(0deg, rgba(64, 93, 230, 1), transparent 75%),
          linear-gradient(120deg, rgba(225, 48, 108, 1), transparent),
          linear-gradient(240deg, rgb(252, 175, 69, 1), transparent);
        padding: 7px;
        >.user {
          border-radius: 100px;
          background: #222;
          color: white;
          padding: 4.2rem;
        }
      }
    }
    // >.header{
    //   width: 70%;
    //   display: flex;
    //   flex-direction: column;
    //   >.title{
    //     font-weight: 600;
    //     font-size: 15px;
    //   }
    //   >.subtitle{
    //     color: var(--gray-600);
    //   }
    // }
}
.accountInfo{
  padding-top: 20px;
  padding-left: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  font-weight: 600;
  >.account{
    font-size: 20px;
  }
  >.subtitle{
    display: flex;
    margin-top:17px;
    font-size:17px;
  }
  >.text{
    margin-top:17px;
    flex-grow: 1;
  }
}
.btnFollow{
  color:var(--white);
  background-color:var(--ig-primary-button);
  font-size: 15px;
  border-radius: 10px;
}
.suggestion{
  font-size: 17px;
  font-weight: 600;
}

.main{
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.wrapper{
  width: 70%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 30px;
}

.left-col{
  display: flex;
  flex-direction: column;
}

.status-wrapper{
  width: 100%;
  height: 120px;
  background: #fff;
  // border: 1px solid #dfdfdf;
  // border-radius: 2px;
  padding: 10px;
  padding-right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar{
  display: none;
}

.status-card{
  flex: 0 0 auto;
  width: 80px;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.profile-pic{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.username{
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  margin-top:5px;
  color: rgba(0, 0, 0, 0.5)
}


/* Base Styles */

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
}

img {
  display: block;
}

.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.btn:focus {
  outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* Gallery Section */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery-item {
  position: relative;
  flex: 1 0 15rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.gallery-item-likes {
  margin-right: 2.2rem;
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
  transform: rotateY(180deg);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Loader */

.loader {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
  .profile {
      display: flex;
      flex-wrap: wrap;
      padding: 4rem 0;
  }

  .profile::after {
      display: none;
  }

  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
      float: none;
      width: auto;
  }

  .profile-image img {
      width: 7.7rem;
  }

  .profile-user-settings {
      flex-basis: calc(100% - 10.7rem);
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
  }

  .profile-user-name {
      font-size: 2.2rem;
  }

  .profile-edit-btn {
      order: 1;
      padding: 0;
      text-align: center;
      margin-top: 1rem;
  }

  .profile-edit-btn {
      margin-left: 0;
  }

  .profile-bio {
      font-size: 1.4rem;
      margin-top: 1.5rem;
  }

  .profile-edit-btn,
  .profile-bio,
  .profile-stats {
      flex-basis: 100%;
  }

  .profile-stats {
      order: 1;
      margin-top: 1.5rem;
  }

  .profile-stats ul {
      display: flex;
      text-align: center;
      padding: 1.2rem 0;
      border-top: 0.1rem solid #dadada;
      border-bottom: 0.1rem solid #dadada;
  }

  .profile-stats li {
      font-size: 1.4rem;
      flex: 1;
      margin: 0;
  }

  .profile-stat-count {
      display: block;
  }
}

/* Spinner Animation */

// @keyframes loader {
//   to {
//       transform: rotate(360deg);
//   }
// }


// @supports (display: grid) {
//   .profile {
//       display: grid;
//       grid-template-columns: 1fr 2fr;
//       grid-template-rows: repeat(3, auto);
//       grid-column-gap: 3rem;
//       align-items: center;
//   }

//   .profile-image {
//       grid-row: 1 / -1;
//   }

//   .gallery {
//       display: grid;
//       grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
//       grid-gap: 2rem;
//   }

//   .profile-image,
//   .profile-user-settings,
//   .profile-stats,
//   .profile-bio,
//   .gallery-item,
//   .gallery {
//       width: auto;
//       margin: 0;
//   }

//   @media (max-width: 40rem) {
//       .profile {
//           grid-template-columns: auto 1fr;
//           grid-row-gap: 1.5rem;
//       }

//       .profile-image {
//           grid-row: 1 / 2;
//       }

//       .profile-user-settings {
//           display: grid;
//           grid-template-columns: auto 1fr;
//           grid-gap: 1rem;
//       }

//       .profile-edit-btn,
//       .profile-stats,
//       .profile-bio {
//           grid-column: 1 / -1;
//       }

//       .profile-user-settings,
//       .profile-edit-btn,
//       .profile-settings-btn,
//       .profile-bio,
//       .profile-stats {
//           margin: 0;
//       }
//   }
// }
