<!-- <div class="row">
  <nav class="navbar navbar-expand-lg custom_nav-container ">
    <a class="navbar-brand" href="index.html">
      <span class="title">
        Feane
      </span>
    </a>
    <div class="navbar-collapse justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="menu.html">STORE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="book.html">CONTACT</a>
        </li>
      </ul>
    </div>
    <div class="">
      <a href="" class="btn btn-light user_link ">
        <i class="fa-solid fa-user color-main text-1" aria-hidden="true"></i>
      </a>
      <a href="" class="btn btn-light user_link">
        <i class="fa-solid fa-magnifying-glass color-main text-1"></i>
      </a>
      <button class="btn">
        <i class="fa-solid fa-cart-shopping"></i>
        Basket (3)
      </button>
    </div>
  </nav>
</div> -->
<div class="row">
  <div class="col-lg-3">
    <div class="header__logo">
        <a href="./index.html">
          <img src="assets/images/logo.png" alt="">
        </a>
    </div>
  </div>
  <div class="col-lg-6">
    <nav class="header__menu">
      <ul>
          <li class="active"><a href="./index.html">Home</a></li>
          <li><a href="./shop-grid.html">Shop</a></li>
          <li><a href="#">Pages</a>
              <ul class="header__menu__dropdown">
                  <li><a href="./shop-details.html">Shop Details</a></li>
                  <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                  <li><a href="./checkout.html">Check Out</a></li>
                  <li><a href="./blog-details.html">Blog Details</a></li>
              </ul>
          </li>
          <li><a href="./blog.html">Blog</a></li>
          <li><a href="./contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-lg-3">
    <div class="header__cart">
        <ul>
            <li>
              <button class="btn bg-white">
                <i class="fa fa-heart color-main"></i> <span>1</span>
              </button>
            </li>
            <li>
              <button class="btn bg-white">
                <i class="fa-solid fa-cart-shopping color-main"></i> <span>3</span>
              </button>
            </li>
            <li>
              <button class="btn bg-white" (click)="login()">
                <i class="fa-solid fa-user color-main" ></i>
              </button>
            </li>
        </ul>
    </div>
  </div>
</div>
