<div class="Wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <div class="post-content">
        <div class="reaction-wrapper">
          <i class="fa-regular fa-heart icon"></i>
          <!-- <i class="fa-solid fa-heart icon"></i> -->
          <i class="fa-regular fa-comment icon"></i>
          <!-- <img src="img/comment.PNG" class="icon" alt="" /> -->
          <i class="fa-regular fa-paper-plane icon"></i>
        </div>
        <p class="likes">1,012 likes</p>
        <p class="description">
          <span>username </span> Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Pariatur tenetur veritatis placeat, molestiae
          impedit aut provident eum quo natus molestias?
        </p>
        <p class="post-time">2 minutes ago</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
